@model IEnumerable<News>
@using System.ServiceModel.Channels
@using SiteDevelopment.Models;

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container substrate">
    <h1>All News of Pittsburgh Penguins</h1>

    @using (Html.BeginForm("Index", "News"))
    {
        foreach (var item in Model.Reverse())
        {
            @Html.Partial("AddIndex", item)
        }
    } 
</div>
