@model IEnumerable<News>
@using System.ServiceModel.Channels
@using SiteDevelopment.Models;

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All News of Pittsburgh Penguins</h1>

<div class="row">
    <div class="col-lg-9">
        @foreach (var item in Model.Reverse())
        {
            @Html.Partial("AddIndex", item)
        }
    </div>
    <div class="col-lg-3">
        
    </div>
</div>
