th {
    padding: 7px 15px;
}

td {
    padding: 5px 10px;
    text-align: center;
}

.table-style {
    border-collapse: collapse;
    padding: 20px 10px;
    width: inherit;
}

.table-header {
    background-color: black; 
    color: white;
}